@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-gray-800 leading-normal;
}
#root {
  @apply bg-white min-h-screen overflow-x-hidden relative font-inter;
}
.categories-filter {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.categories-filter::-webkit-scrollbar {
  display: none;
}
